!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title #{place['title']} &mdash; Pleiades Static
  %body
    %h1 #{place['title']}
    %h4
      %a{:href => "http://pleiades.stoa.org/places/#{place['id']}", :target => "_blank"} Open in Pleiades
    %p Creators: #{place['creators']} &mdash; last modified #{place['modified']}
    %p Contributors: #{place['authors']}
    %p Copyright © The Creators, Contributors, Ancient World Mapping Center, and Institute for the Study of the Ancient World. Sharing and remixing permitted under terms of the Creative Commons Attribution 3.0 License (cc-by).
    %h3 #{place['description']}
    %iframe{:height => '512',
      :width => '512',
      :frameborder => 0,
      :src => "https://render.githubusercontent.com/view/geojson?url=https://raw.githubusercontent.com/ryanfb/pleiades-geojson/master/geojson/#{place['id']}.geojson"}
    %h4 Locations
    - if place['locations'].nil?
      %i None
    - else
      %ul
        - place['locations'].each do |location|
          %li
            %a{:href => "#{place['id']}/#{location['id']}.html"} #{location['title']}
    %h4 Names
    - if place['names'].nil?
      %i None
    - else
      %ul
        - place['names'].each do |name|
          %li
            %a{:href => "#{place['id']}/#{name['id']}.html"} #{name['title']}
    %h4 Place type:
    %p= place['featureTypes']
    %h4 Makes a connection with:
    - if place['connectsWith'].nil?
      %i None
    - else
      - place['connectsWith'].split(',').each do |connection|
        - unless places[connection].nil?
          %a{:href => "#{connection}.html"} #{places[connection]['title']}
    %h4 Has a connection with:
    - if place['hasConnectionsWith'].nil?
      %i None
    - else
      - place['hasConnectionsWith'].split(',').each do |connection|
        - unless places[connection].nil?
          %a{:href => "#{connection}.html"} #{places[connection]['title']}
    %p= place.inspect