!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title #{place['title']} &mdash; Pleiades Static
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
    %link{:rel => 'stylesheet', :href => 'https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css'}
    %script{:type => 'text/javascript', :src => '/pleiades-static-search/pleiades-static-search.js'}
    %style
      div.unlocated iframe {opacity: 0.25;}
    :javascript
        window.pleiades_link = function(pleiades_id) {
          var link;
          link = $('<a>').attr('href', "/pleiades-static/places/" + pleiades_id + ".html");
          link.attr('target', '_blank');
          link.text(pleiades_id);
          return link;
        };
  %body
    .container
      %br
      .row
        .col-md-4
        .col-md-4.ui-widget
          %input{:id => 'search', :class => 'form-control'}
        .col-md-4
      #results
      .row
        .col-md-8
          %h1
            #{place['title']}
        .col-md-4.text-right
          %h1
            %small
              %a{:href => "http://pleiades.stoa.org/places/#{place['id']}", :target => "_blank"} Open in Pleiades
      .row
        .col-md-8
          %small.text-info
            %br
            Creators: #{place['creators']} &mdash; last modified #{place['modified']}
            %br
            Contributors: #{place['authors']}
            %br
            Copyright © The Creators, Contributors, Ancient World Mapping Center, and Institute for the Study of the Ancient World.
            %br
            Sharing and remixing permitted under terms of the
            %a{:rel => 'license', :href => 'http://creativecommons.org/licenses/by/3.0/us/'}< Creative Commons Attribution 3.0 License (cc-by)
            \.
      .row
        .col-md-12
          %h3
            #{place['description']}
      .row
        .col-md-8{:class => place['featureTypes'] == 'unlocated' ? 'unlocated' : ''}
          %iframe{:height => '512',
            :width => '100%',
            :frameborder => 0,
            :src => "https://render.githubusercontent.com/view/geojson?url=https://raw.githubusercontent.com/ryanfb/pleiades-geojson/master/geojson/#{place['id']}.geojson"}
        .col-md-4
          %h5 Locations
          - if place['locations'].nil?
            %i None
          - else
            %ul
              - place['locations'].each do |location|
                %li
                  %a{:href => "#{place['id']}/#{location['id']}.html"} #{location['title']}
          %h5 Names
          - if place['names'].nil?
            %i None
          - else
            %ul
              - place['names'].each do |name|
                %li
                  %a{:href => "#{place['id']}/#{name['id']}.html"} #{name['title']}
      .row
        .col-md-8
          %h5 Place type:
          %p= place['featureTypes']
          %h5 Makes a connection with:
          - if place['connectsWith'].nil?
            %i None
          - else
            %ul
              - place['connectsWith'].split(',').each do |connection|
                - unless places[connection].nil?
                  %li
                    %a{:href => "#{connection}.html"} #{places[connection]['title']}
          %h5 Has a connection with:
          - if place['hasConnectionsWith'].nil?
            %i None
          - else
            %ul
              - place['hasConnectionsWith'].split(',').each do |connection|
                - unless places[connection].nil?
                  %li
                    %a{:href => "#{connection}.html"} #{places[connection]['title']}
      %br
      .row
        / %pre= place.inspect